/*
EXTRA STYLES FOR COMPONENTS
*/

.subSectionName {
  margin-top: 25px;
}

.sectionName {
  margin-top: 50px;
}

.lead-in {
  color: $color-muted-text;
  font-family: $font-secondary;
  text-transform: none;
}

.footerText {
  color: $color-muted-text;
  font-size: $text-base-size;

  a:visited {
    color: $color-muted-text;
  }
}

.sectionHeader {
  border-left: 5px solid $color-primary;
  padding-left: 20px;
}

.projectDesc {
  color: $color-muted-text;
}

.projectWriting {
  font-size: $text-base-size;
  color: $color-muted-text;
  text-transform: none;
}

.workContent {
  @media screen and (min-width: 801px) {
    margin-left: 15%;
    margin-right: 15%;
  }
}

.caseLink {
  font-size: $text-sm;
}
