// Typography
$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

// Colors
$color-primary: #fd5523;
$color-secondary: #1fe0ac;
$color-headings: #222222;
$color-text: rgba(0, 0, 0, 0.84);
$color-muted-text: #555555;

// Base Text Values
$text-base-size: 1em;
$text-scale-ratio: 1.2;

// Type Scale
$text-xs: 1em / $text-scale-ratio * $text-scale-ratio;
$text-sm: 1em / $text-scale-ratio;
$text-md: 1em * $text-scale-ratio;
$text-lg: 1em * $text-scale-ratio * $text-scale-ratio;
$text-xl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
  $text-scale-ratio;
$text-xxxl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
  $text-scale-ratio * $text-scale-ratio;

// Line height
$heading-line-height: 1.2em;
$body-line-height: 1.75em;
$space-md: 0.75em;

// Export variables
:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorMutedText: $color-muted-text;
  colorHeadings: $color-headings;
  textsm: $text-sm;
  textmd: $text-md;
}
