// Typography
$font-primary: Arial, Helvetica, sans-serif;
$font-secondary: Arial, Helvetica, sans-serif;

// Colors
$color-primary: #fd5523;
$color-secondary: #1fe0ac;
$color-headings: #222222;
$color-text: rgba(0, 0, 0, 0.84);
$color-muted-text: #555555;

// Base Text Values
$text-base-size: 1em;
$text-scale-ratio: 1.15;

// Type Scale
$text-xs: calc(1em / $text-scale-ratio * $text-scale-ratio);
$text-sm: calc(1em / $text-scale-ratio);
$text-md: calc(1em * $text-scale-ratio);
$text-lg: calc(1em * $text-scale-ratio * $text-scale-ratio);
$text-xl: calc(1em * $text-scale-ratio * $ext-scale-ratio * $text-scale-ratio);
$text-xxl: calc(
  1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
    $text-scale-ratio
);
$text-xxxl: calc(
  1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
    $text-scale-ratio * $text-scale-ratio
);

// Line height
$heading-line-height: 1.2em;
$body-line-height: 1.75em;
$space-md: 0.75em;

// Export variables
:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorMutedText: $color-muted-text;
  colorHeadings: $color-headings;
}
