@import url('https://use.typekit.net/pag2idg.css');

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham'), url('../assets/GothamNarrow-Book.woff') format('woff');
}

@font-face {
  font-family: 'Gotham Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Gotham Bold'),
    url('../assets/GothamNarrow-Bold.woff') format('woff');
}

// Typography
$font-primary: 'Gotham Bold', sans-serif;
$font-secondary: 'Gotham', sans-serif;
$font-tertiary: 'freight-text-pro', serif;

// Colors
$color-primary: #fd5523;
$color-secondary: #1fe0ac;
$color-headings: #252525;
$color-text: rgba(0, 0, 0, 0.84);
$color-muted-text: #999999;

// Base Text Values
$text-base-size: 1em;
$text-scale-ratio: 1.15;

// Type Scale
$text-xs: 1em / $text-scale-ratio * $text-scale-ratio;
$text-sm: 1em / $text-scale-ratio;
$text-md: 1em * $text-scale-ratio;
$text-lg: 1em * $text-scale-ratio * $text-scale-ratio;
$text-xl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio;
$text-xxl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
  $text-scale-ratio;
$text-xxxl: 1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
  $text-scale-ratio * $text-scale-ratio;

// Line height
$heading-line-height: 1.2em;
$body-line-height: 1.75em;
$space-md: 0.75em;

// Export variables
:export {
  fontPrimary: $font-primary;
  fontSecondary: $font-secondary;
  fontTertiary: $font-tertiary;
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorMutedText: $color-muted-text;
  colorHeadings: $color-headings;
  textbasesize: $text-base-size;
  textsm: $text-sm;
  textmd: $text-md;
  textlg: $text-lg;
  textxl: $text-xl;
  textxxl: $text-xxl;
}
